<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>expressName</key>
		<string>圆通速递</string>
		<key>phone</key>
		<string>021-69777888</string>
		<key>imageUrl</key>
		<string>yuantong</string>
		<key>expressWebUrl</key>
		<string>http://www.yto.net.cn</string>
		<key>pinyin</key>
		<string>yuantong</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>中通快递</string>
		<key>phone</key>
		<string>400-827-0270</string>
		<key>imageUrl</key>
		<string>zhongtong</string>
		<key>expressWebUrl</key>
		<string>http://www.zto.cn</string>
		<key>pinyin</key>
		<string>zhongtong</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>申通快递</string>
		<key>phone</key>
		<string>400-889-5543</string>
		<key>imageUrl</key>
		<string>shentong</string>
		<key>expressWebUrl</key>
		<string>http://www.sto.cn</string>
		<key>pinyin</key>
		<string>shentong</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>韵达快递</string>
		<key>phone</key>
		<string>400-821-6789</string>
		<key>imageUrl</key>
		<string>yunda</string>
		<key>expressWebUrl</key>
		<string>www.yundaex.com</string>
		<key>pinyin</key>
		<string>yunda</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>宅急送</string>
		<key>phone</key>
		<string>400-6789-000</string>
		<key>imageUrl</key>
		<string>zhaijisong</string>
		<key>expressWebUrl</key>
		<string>http://www.zjs.com.cn</string>
		<key>pinyin</key>
		<string>zhaijisong</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>百世汇通</string>
		<key>phone</key>
		<string>400-956-5656</string>
		<key>imageUrl</key>
		<string>huitong</string>
		<key>expressWebUrl</key>
		<string>http://www.800bestex.com</string>
		<key>pinyin</key>
		<string>huitong</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>凡客如风达</string>
		<key>phone</key>
		<string>400-010-6660</string>
		<key>imageUrl</key>
		<string>rufeng</string>
		<key>expressWebUrl</key>
		<string>http://www.rufengda.com</string>
		<key>pinyin</key>
		<string>rufeng</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>顺丰快递</string>
		<key>phone</key>
		<string>4008-111-111</string>
		<key>imageUrl</key>
		<string>shunfeng</string>
		<key>expressWebUrl</key>
		<string>http://www.sf-express.com</string>
		<key>pinyin</key>
		<string>shunfeng</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>京东快递</string>
		<key>phone</key>
		<string>0769-83660666</string>
		<key>imageUrl</key>
		<string>jingdong</string>
		<key>expressWebUrl</key>
		<string>http://www.jd-ex.com</string>
		<key>pinyin</key>
		<string>jingdong</string>
		<key>index</key>
		<string>{search}</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>AAE快递</string>
		<key>phone</key>
		<string>400-610-0400</string>
		<key>imageUrl</key>
		<string>aae</string>
		<key>expressWebUrl</key>
		<string>http://cn.aaeweb.com</string>
		<key>pinyin</key>
		<string>aae</string>
		<key>index</key>
		<string>A</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>安捷快递</string>
		<key>phone</key>
		<string>0532-68005990</string>
		<key>imageUrl</key>
		<string>anjie</string>
		<key>expressWebUrl</key>
		<string>http://www.anjelex.com</string>
		<key>pinyin</key>
		<string>aae</string>
		<key>index</key>
		<string>A</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>百福东方</string>
		<key>phone</key>
		<string>400-706-0609</string>
		<key>imageUrl</key>
		<string>ees</string>
		<key>expressWebUrl</key>
		<string>http://www.ees.com.cn</string>
		<key>pinyin</key>
		<string>ees</string>
		<key>index</key>
		<string>B</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>CCES快递</string>
		<key>phone</key>
		<string>400-111-1123</string>
		<key>imageUrl</key>
		<string>cces</string>
		<key>expressWebUrl</key>
		<string>http://www.gto365.com</string>
		<key>pinyin</key>
		<string>cces</string>
		<key>index</key>
		<string>C</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>传喜快递</string>
		<key>phone</key>
		<string>400-777-5656</string>
		<key>imageUrl</key>
		<string>chuanxi</string>
		<key>expressWebUrl</key>
		<string>http://www.cxcod.com</string>
		<key>pinyin</key>
		<string>chuanxi</string>
		<key>index</key>
		<string>C</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>城市100</string>
		<key>phone</key>
		<string>010-52932760</string>
		<key>imageUrl</key>
		<string>chengshi100</string>
		<key>expressWebUrl</key>
		<string>http://www.bjcs100.com</string>
		<key>pinyin</key>
		<string>chengshi100</string>
		<key>index</key>
		<string>C</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>递四方速递</string>
		<key>phone</key>
		<string>0755-33933895</string>
		<key>imageUrl</key>
		<string>disifang</string>
		<key>expressWebUrl</key>
		<string>http://www.4px.com</string>
		<key>pinyin</key>
		<string>disifang</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>德邦物流</string>
		<key>phone</key>
		<string>400-830-5555</string>
		<key>imageUrl</key>
		<string>debang</string>
		<key>expressWebUrl</key>
		<string>http://www.deppon.com</string>
		<key>pinyin</key>
		<string>debang</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>大田物流</string>
		<key>phone</key>
		<string>400-626-1166</string>
		<key>imageUrl</key>
		<string>datian</string>
		<key>expressWebUrl</key>
		<string>http://www.dtw.com.cn</string>
		<key>pinyin</key>
		<string>datian</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>DHL中国件</string>
		<key>phone</key>
		<string>800-810-8000</string>
		<key>imageUrl</key>
		<string>dhl</string>
		<key>expressWebUrl</key>
		<string>www.cn.dhl.com</string>
		<key>pinyin</key>
		<string>dhl</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>D速快递</string>
		<key>phone</key>
		<string>0531-88636363</string>
		<key>imageUrl</key>
		<string>dsu</string>
		<key>expressWebUrl</key>
		<string>http://www.d-exp.cn</string>
		<key>pinyin</key>
		<string>dsu</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>DPEX快递</string>
		<key>phone</key>
		<string>021-64659883</string>
		<key>imageUrl</key>
		<string>dpex</string>
		<key>expressWebUrl</key>
		<string>http://www.szdpex.com.cn</string>
		<key>pinyin</key>
		<string>dpex</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>东方快递</string>
		<key>phone</key>
		<string>0755-83575000</string>
		<key>imageUrl</key>
		<string>coe</string>
		<key>expressWebUrl</key>
		<string>http://www.coe.com.hk</string>
		<key>pinyin</key>
		<string>coe</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>EMS</string>
		<key>phone</key>
		<string>11183</string>
		<key>imageUrl</key>
		<string>ems</string>
		<key>expressWebUrl</key>
		<string>http://www.coe.com.hk</string>
		<key>pinyin</key>
		<string>ems</string>
		<key>index</key>
		<string>E</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>E邮宝</string>
		<key>phone</key>
		<string>11183</string>
		<key>imageUrl</key>
		<string>eyoubao</string>
		<key>expressWebUrl</key>
		<string>http://www.ems.com.cn</string>
		<key>pinyin</key>
		<string>eyoubao</string>
		<key>index</key>
		<string>E</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>国通快递</string>
		<key>phone</key>
		<string>400-111-1123</string>
		<key>imageUrl</key>
		<string>guotong</string>
		<key>expressWebUrl</key>
		<string>http://www.gto365.com</string>
		<key>pinyin</key>
		<string>guotong</string>
		<key>index</key>
		<string>G</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>佳怡物流</string>
		<key>phone</key>
		<string>400-631-9999</string>
		<key>imageUrl</key>
		<string>jiayi</string>
		<key>expressWebUrl</key>
		<string>http://www.jiayi56.com</string>
		<key>pinyin</key>
		<string>jiayi</string>
		<key>index</key>
		<string>J</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>佳吉快运</string>
		<key>phone</key>
		<string>400-820-5566</string>
		<key>imageUrl</key>
		<string>jiaji</string>
		<key>expressWebUrl</key>
		<string>http://www.jiaji.com</string>
		<key>pinyin</key>
		<string>jiaji</string>
		<key>index</key>
		<string>J</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>嘉里大通物流</string>
		<key>phone</key>
		<string>400-610-3188</string>
		<key>imageUrl</key>
		<string>jldt</string>
		<key>expressWebUrl</key>
		<string>http://www.kerrylogistics.com</string>
		<key>pinyin</key>
		<string>jldt</string>
		<key>index</key>
		<string>J</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>快捷快递</string>
		<key>phone</key>
		<string>400-830-4888</string>
		<key>imageUrl</key>
		<string>kuaijie</string>
		<key>expressWebUrl</key>
		<string>http://www.fastexpress.com.cn</string>
		<key>pinyin</key>
		<string>kuaijie</string>
		<key>index</key>
		<string>K</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>联邦国际快递</string>
		<key>phone</key>
		<string>800-463-3339</string>
		<key>imageUrl</key>
		<string>fedex</string>
		<key>expressWebUrl</key>
		<string>http://www.fedex.com</string>
		<key>pinyin</key>
		<string>fedex</string>
		<key>index</key>
		<string>F</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>联邦国内快递</string>
		<key>phone</key>
		<string>400-886-1888</string>
		<key>imageUrl</key>
		<string>fedexcn</string>
		<key>expressWebUrl</key>
		<string>http://www.fedex.com</string>
		<key>pinyin</key>
		<string>fedexcn</string>
		<key>index</key>
		<string>F</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>能达速递</string>
		<key>phone</key>
		<string>400-620-1111</string>
		<key>imageUrl</key>
		<string>nengda</string>
		<key>expressWebUrl</key>
		<string>http://www.nd56.com
http://www.nd56.com
</string>
		<key>pinyin</key>
		<string>nengda</string>
		<key>index</key>
		<string>N</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>全一快递</string>
		<key>phone</key>
		<string>400-663-1111</string>
		<key>imageUrl</key>
		<string>quanyi</string>
		<key>expressWebUrl</key>
		<string>http://www.unitop-apex.com</string>
		<key>pinyin</key>
		<string>quanyi</string>
		<key>index</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>全峰快递</string>
		<key>phone</key>
		<string>400-100-0001</string>
		<key>imageUrl</key>
		<string>quanfeng</string>
		<key>expressWebUrl</key>
		<string>http://www.qfkd.com.cn</string>
		<key>pinyin</key>
		<string>quanfeng</string>
		<key>index</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>全晨快递</string>
		<key>phone</key>
		<string>0769-89033666</string>
		<key>imageUrl</key>
		<string>quanchen</string>
		<key>expressWebUrl</key>
		<string>http://www.qckd.net</string>
		<key>pinyin</key>
		<string>quanchen</string>
		<key>index</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>速尔快递</string>
		<key>phone</key>
		<string>400-158-9888</string>
		<key>imageUrl</key>
		<string>sure</string>
		<key>expressWebUrl</key>
		<string>http://www.sure56.com</string>
		<key>pinyin</key>
		<string>sure</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>天天快递</string>
		<key>phone</key>
		<string>4001-8888-8888</string>
		<key>imageUrl</key>
		<string>tiantian</string>
		<key>expressWebUrl</key>
		<string>http://www.ttkdex.com</string>
		<key>pinyin</key>
		<string>tiantian</string>
		<key>index</key>
		<string>T</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>TNT快递</string>
		<key>phone</key>
		<string>800-820-9868</string>
		<key>imageUrl</key>
		<string>tnt</string>
		<key>expressWebUrl</key>
		<string>http://www.tnt.com.cn</string>
		<key>pinyin</key>
		<string>tnt</string>
		<key>index</key>
		<string>T</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>UPS</string>
		<key>phone</key>
		<string>400-820-8388</string>
		<key>imageUrl</key>
		<string>ups</string>
		<key>expressWebUrl</key>
		<string>http://www.ups.com</string>
		<key>pinyin</key>
		<string>ups</string>
		<key>index</key>
		<string>U</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>新邦物流</string>
		<key>phone</key>
		<string>4008-000-222</string>
		<key>imageUrl</key>
		<string>xinbang</string>
		<key>expressWebUrl</key>
		<string>http://www.xbwl.cn</string>
		<key>pinyin</key>
		<string>xinbang</string>
		<key>index</key>
		<string>X</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>邮政国内小包</string>
		<key>phone</key>
		<string>11185</string>
		<key>imageUrl</key>
		<string>gnxb</string>
		<key>expressWebUrl</key>
		<string>http://yjcx.chinapost.com.cn</string>
		<key>pinyin</key>
		<string>gnxb</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>包裹/挂号信</string>
		<key>phone</key>
		<string>11185</string>
		<key>imageUrl</key>
		<string>pingyou</string>
		<key>expressWebUrl</key>
		<string>www.chinapost.com.cn</string>
		<key>pinyin</key>
		<string>pingyou</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>优速快递</string>
		<key>phone</key>
		<string>400-1111-119</string>
		<key>imageUrl</key>
		<string>yousu</string>
		<key>expressWebUrl</key>
		<string>http://www.uc56.com</string>
		<key>pinyin</key>
		<string>yousu</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>远成物流</string>
		<key>phone</key>
		<string>400-820-1646</string>
		<key>imageUrl</key>
		<string>yuancheng</string>
		<key>expressWebUrl</key>
		<string>http://yjcx.chinapost.com.cn</string>
		<key>pinyin</key>
		<string>yuancheng</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>亚风快递</string>
		<key>phone</key>
		<string>400-628-0018</string>
		<key>imageUrl</key>
		<string>yafeng</string>
		<key>expressWebUrl</key>
		<string>http://www.broad-asia.net</string>
		<key>pinyin</key>
		<string>yafeng</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>越丰快递</string>
		<key>phone</key>
		<string>0755-27517588</string>
		<key>imageUrl</key>
		<string>yuefeng</string>
		<key>expressWebUrl</key>
		<string>http://www.yfexpress.com.hk </string>
		<key>pinyin</key>
		<string>yuefeng</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>中铁快运</string>
		<key>phone</key>
		<string>95572</string>
		<key>imageUrl</key>
		<string>zhongtie</string>
		<key>expressWebUrl</key>
		<string>http://www.cre.cn</string>
		<key>pinyin</key>
		<string>zhongtie</string>
		<key>index</key>
		<string>Z</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>中邮物流</string>
		<key>phone</key>
		<string>11183</string>
		<key>imageUrl</key>
		<string>zhongyou</string>
		<key>expressWebUrl</key>
		<string>http://www.cnpl.com.cn</string>
		<key>pinyin</key>
		<string>zhongyou</string>
		<key>index</key>
		<string>Z</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>忠信达</string>
		<key>phone</key>
		<string>400-646-6665</string>
		<key>imageUrl</key>
		<string>zhongxinda</string>
		<key>expressWebUrl</key>
		<string>http://www.zhongxind.cn</string>
		<key>pinyin</key>
		<string>zhongxinda</string>
		<key>index</key>
		<string>Z</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>中天万运</string>
		<key>phone</key>
		<string>400-0056-001</string>
		<key>imageUrl</key>
		<string>zhongtian</string>
		<key>expressWebUrl</key>
		<string>http://www.wanyun56.cn</string>
		<key>pinyin</key>
		<string>zhongtian</string>
		<key>index</key>
		<string>Z</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>明亮物流</string>
		<key>phone</key>
		<string>400-035-6568</string>
		<key>imageUrl</key>
		<string>mingliang</string>
		<key>expressWebUrl</key>
		<string>http://www.szml56.com</string>
		<key>pinyin</key>
		<string>mingliang</string>
		<key>index</key>
		<string>M</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>赛澳递</string>
		<key>phone</key>
		<string>4000-345-888</string>
		<key>imageUrl</key>
		<string>saiaodi</string>
		<key>expressWebUrl</key>
		<string>http://www.51cod.com</string>
		<key>pinyin</key>
		<string>saiaodi</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>三态速递</string>
		<key>phone</key>
		<string>400-881-8106</string>
		<key>imageUrl</key>
		<string>santai</string>
		<key>expressWebUrl</key>
		<string>http://www.sfcservice.com</string>
		<key>pinyin</key>
		<string>santai</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>圣安物流</string>
		<key>phone</key>
		<string>4006-618-169</string>
		<key>imageUrl</key>
		<string>shengan</string>
		<key>expressWebUrl</key>
		<string>http://www.sa56.net</string>
		<key>pinyin</key>
		<string>shengan</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>信丰快递</string>
		<key>phone</key>
		<string>400-830-6333</string>
		<key>imageUrl</key>
		<string>xinfeng</string>
		<key>expressWebUrl</key>
		<string>http://www.xf-express.com.cn</string>
		<key>pinyin</key>
		<string>xinfeng</string>
		<key>index</key>
		<string>X</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>USPS快递</string>
		<key>phone</key>
		<string>800-275-8777</string>
		<key>imageUrl</key>
		<string>usps</string>
		<key>expressWebUrl</key>
		<string>https://zh.usps.com</string>
		<key>pinyin</key>
		<string>usps</string>
		<key>index</key>
		<string>U</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>大洋物流</string>
		<key>phone</key>
		<string>400-820-0088</string>
		<key>imageUrl</key>
		<string>dayang</string>
		<key>expressWebUrl</key>
		<string>http://www.dayang365.cn</string>
		<key>pinyin</key>
		<string>dayang</string>
		<key>index</key>
		<string>D</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>一邦快递</string>
		<key>phone</key>
		<string>4008-000-666</string>
		<key>imageUrl</key>
		<string>yibang</string>
		<key>expressWebUrl</key>
		<string>http://www.ebon-express.com</string>
		<key>pinyin</key>
		<string>yibang</string>
		<key>index</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>安能物流</string>
		<key>phone</key>
		<string>400-104-0088</string>
		<key>imageUrl</key>
		<string>anneng</string>
		<key>expressWebUrl</key>
		<string>http://www.ane56.com</string>
		<key>pinyin</key>
		<string>anneng</string>
		<key>index</key>
		<string>A</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>Aramex</string>
		<key>phone</key>
		<string>010-80418634</string>
		<key>imageUrl</key>
		<string>aramex</string>
		<key>expressWebUrl</key>
		<string>http://www.aramex.com</string>
		<key>pinyin</key>
		<string>aramex</string>
		<key>index</key>
		<string>A</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>程光快递</string>
		<key>phone</key>
		<string>010-80418634</string>
		<key>imageUrl</key>
		<string>chengguang</string>
		<key>expressWebUrl</key>
		<string>http://www.flyway.co.nz</string>
		<key>pinyin</key>
		<string>chengguang</string>
		<key>index</key>
		<string>C</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>快优达速递</string>
		<key>phone</key>
		<string>4006-068-555</string>
		<key>imageUrl</key>
		<string>kuaiyouda</string>
		<key>expressWebUrl</key>
		<string>http://www.sckyd.net</string>
		<key>pinyin</key>
		<string>kuaiyouda</string>
		<key>index</key>
		<string>K</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>跨越快递</string>
		<key>phone</key>
		<string>4008-098-098</string>
		<key>imageUrl</key>
		<string>kuayue</string>
		<key>expressWebUrl</key>
		<string>http://www.ky-express.com</string>
		<key>pinyin</key>
		<string>kuayue</string>
		<key>index</key>
		<string>K</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>联昊通快递</string>
		<key>phone</key>
		<string>0769-88620000</string>
		<key>imageUrl</key>
		<string>lianhaotong</string>
		<key>expressWebUrl</key>
		<string>http://www.lhtex.com.cn</string>
		<key>pinyin</key>
		<string>lianhaotong</string>
		<key>index</key>
		<string>L</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>龙邦快递</string>
		<key>phone</key>
		<string>021-59218889</string>
		<key>imageUrl</key>
		<string>longbang</string>
		<key>expressWebUrl</key>
		<string>http://www.lbex.com.cn</string>
		<key>pinyin</key>
		<string>longbang</string>
		<key>index</key>
		<string>L</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>民邦速递</string>
		<key>phone</key>
		<string>0769-81515303</string>
		<key>imageUrl</key>
		<string>minbang</string>
		<key>expressWebUrl</key>
		<string>http://www.mbex168.com</string>
		<key>pinyin</key>
		<string>minbang</string>
		<key>index</key>
		<string>M</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>增益速递</string>
		<key>phone</key>
		<string>020-86298999</string>
		<key>imageUrl</key>
		<string>zengyi</string>
		<key>expressWebUrl</key>
		<string>http://www.zeny-express.com</string>
		<key>pinyin</key>
		<string>zengyi</string>
		<key>index</key>
		<string>Z</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>盛丰物流</string>
		<key>phone</key>
		<string>0591-83621111</string>
		<key>imageUrl</key>
		<string>shengfeng</string>
		<key>expressWebUrl</key>
		<string>http://www.sfwl.com.cn</string>
		<key>pinyin</key>
		<string>shengfeng</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>盛辉物流</string>
		<key>phone</key>
		<string>4008-222-222</string>
		<key>imageUrl</key>
		<string>shenghui</string>
		<key>expressWebUrl</key>
		<string>http://www.shenghui56.com</string>
		<key>pinyin</key>
		<string>shenghui</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>穗佳物流</string>
		<key>phone</key>
		<string>400-880-9771</string>
		<key>imageUrl</key>
		<string>suijia</string>
		<key>expressWebUrl</key>
		<string>http://www.suijiawl.com</string>
		<key>pinyin</key>
		<string>suijia</string>
		<key>index</key>
		<string>S</string>
	</dict>
	<dict>
		<key>expressName</key>
		<string>全日通快递</string>
		<key>phone</key>
		<string>020-86298999</string>
		<key>imageUrl</key>
		<string>quanritong</string>
		<key>expressWebUrl</key>
		<string>http://www.at-express.com</string>
		<key>pinyin</key>
		<string>quanritong</string>
		<key>index</key>
		<string>Q</string>
	</dict>
</array>
</plist>
